SECRET_KEY=my-super-secret-local-dev-key
GOOGLE_OAUTH_CLIENT_ID=your-google-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-google-client-secret
DATABASE_URL=sqlite+aiosqlite:///./sql_app.db
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
EMAILS_FROM_EMAIL=your-email@gmail.com
FRONTEND_URL=http://localhost:3000
AWS_ACCESS_KEY_ID=12345
AWS_SECRET_ACCESS_KEY=abcde12345
AWS_REGION=us-east-1
S3_BUCKET_NAME=bucket
AWS_ENDPOINT_URL=for_selfhosted_s3
